{% extends 'frontend/base/base.html' %}
{% load static %}

{% block head %}
<title>Anasayfa | İşitme Merkezi Takip Sistemi</title>
<link rel="stylesheet" href="{% static 'frontend/css/dashboard/main.css' %}">
{% endblock %}

{% block custom_css %}
<!-- Sayfa özel ek CSS'ler buraya eklenebilir -->
{% endblock %}

{% block custom_js %}
{% include 'frontend/dashboard/js.html' %}
{% endblock %}

{% block progress_bar %}
{% include 'frontend/dashboard/progress-bar.html' %}
{% endblock %}

{% block toast_container %}
{% include 'frontend/dashboard/toast-container.html' %}
{% endblock %}

{% block page_transition %}
{% include 'frontend/dashboard/page-transition.html' %}
{% endblock %}

{% block confirmation_modal %}
{% include 'frontend/dashboard/confirmation-modal.html' %}
{% endblock %}

{% block topbar %}
{% include 'frontend/dashboard/topbar.html' %}
{% endblock %}

{% block page_content %}
{% include 'frontend/dashboard/page-container.html' %}
{% endblock %}

{% block custom_modals %}
{% include 'frontend/dashboard/modal.html' %}
{% endblock %}

{% block custom_js_end %}
<!-- Sayfa özel JavaScript (body sonunda) buraya eklenebilir -->
{% endblock %} 