{% extends 'frontend/base/base.html' %}
{% load static %}

{% block head %}
<title>Hasta Yönetimi | İşitme Merkezi Takip Sistemi</title>
<link rel="stylesheet" href="{% static 'frontend/css/patients/main.css' %}">
{% endblock %}

{% block custom_css %}
<!-- Sayfa özel ek CSS'ler buraya eklenebilir -->
{% endblock %}

{% block custom_js %}
{% include 'frontend/patients/js.html' %}
{% endblock %}

{% block progress_bar %}
{% include 'frontend/patients/progress-bar.html' %}
{% endblock %}

{% block toast_container %}
{% include 'frontend/patients/toast-container.html' %}
{% endblock %}

{% block page_transition %}
{% include 'frontend/patients/page-transition.html' %}
{% endblock %}

{% block confirmation_modal %}
{% include 'frontend/patients/confirmation-modal.html' %}
{% endblock %}

{% block topbar %}
{% include 'frontend/patients/topbar.html' %}
{% endblock %}

{% block page_content %}
{% include 'frontend/patients/page-container.html' %}
{% endblock %}

{% block custom_modals %}
{% include 'frontend/patients/modal.html' %}
{% endblock %}

{% block custom_js_end %}
<!-- Sayfa özel JavaScript (body sonunda) buraya eklenebilir -->
{% endblock %} 
 