{% extends 'frontend/base/base.html' %}
{% load static %}

{% block head %}
<title>Anasayfa | İşitme Merkezi Takip Sistemi</title>
<link rel="stylesheet" href="{% static 'frontend/css/test-reports/main.css' %}">
{% endblock %}

{% block custom_css %}
<!-- Sayfa özel ek CSS'ler buraya eklenebilir -->
{% endblock %}

{% block custom_js %}
{% include 'frontend/test-reports/js.html' %}
{% endblock %}

{% block progress_bar %}
{% include 'frontend/test-reports/progress-bar.html' %}
{% endblock %}

{% block toast_container %}
{% include 'frontend/test-reports/toast-container.html' %}
{% endblock %}

{% block page_transition %}
{% include 'frontend/test-reports/page-transition.html' %}
{% endblock %}

{% block confirmation_modal %}
{% include 'frontend/test-reports/confirmation-modal.html' %}
{% endblock %}

{% block topbar %}
{% include 'frontend/test-reports/topbar.html' %}
{% endblock %}

{% block page_content %}
{% include 'frontend/test-reports/page-container.html' %}
{% endblock %}

{% block custom_modals %}
{% include 'frontend/test-reports/modal.html' %}
{% endblock %}

{% block custom_js_end %}
<!-- Sayfa özel JavaScript (body sonunda) buraya eklenebilir -->
{% endblock %} 